{% extends 'base.html' %} {% block content %}
{% load tailwind_filters %}

<div class="flex h-[85vh]">
  <div class="min-w-[380px] m-auto">
    <h1 class="text-4xl text-center mb-4">Enter New Password</h1>
    <form class="border-t pt-2" method="post">
      {% csrf_token %} 
      {{ form|crispy }}
      <button
        class="w-full bg-indigo-500 hover:bg-indigo-600 mt-2 px-3 py-2 rounded-md text-white"
        type="submit"
      >
        Confirm Reset
      </button>
    </form>
  </div>
</div>

{% endblock content %}