{% extends 'base.html' %} {% block content %}
{% load static %}
{% load tailwind_filters %}

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-1/2 w-full lg:h-auto h-64 lg:py-16 lg:px-12">
                <img
                  alt="lead"
                  class="object-cover object-center rounded"
                  src="{% static 'images/lead_category.svg' %}"
                />
            </div>
            <div class="lg:w-1/2  w-full lg:pl-10 lg:py-6 mb-6 lg:mb-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">
                    Lead Category
                </h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
                    {{ lead.first_name }} {{ lead.last_name }}
                </h1>
                <div class="flex mb-4">
                    <a href="{% url 'leads:lead-detail' lead.pk %}"
                        class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a>
                    <a href="#" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Category</a>
                    {% if request.user.is_admin %}
                    <a href="{% url 'leads:lead-update' lead.pk %}"
                        class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Edit</a>
                    {% endif %}
                </div>
                <form class="py-4" method="post">
                    <p class="leading-relaxed mb-4">
                        View or modify category of this lead
                    </p>
                    {% csrf_token %} 
                    {{ form|crispy }}
                    <div class="flex justify-between mt-16">
                        <button type="submit"
                            class="flex mr-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}